<!DOCTYPE html>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        
        <a class="navbar-brand" >El Patito</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/inicio}">Home</a>
                </li>
                <li class="nav-item dropdown" >
                    
                    <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li ><a class="dropdown-item" th:href="@{/producto/crear}">Agregar Producto</a></li> 
                        <li><a class="dropdown-item" th:href="@~{/producto/lista}">Lista de Producto</a></li>
                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tipo
                            </a>
                            <ul class="dropdown-menu">
                                <li ><a class="dropdown-item" th:href="@{/producto/crear}">Agregar Producto</a></li> 
                                <li><a class="dropdown-item" th:href="@{/producto/lista}">Lista de Producto</a></li>
                                <!--                                <ul>
                                                                    <li><a class="dropdown-menu" th:href="@{/producto/lista/__@{panaderia}__}" >Panaderia</a></li>
                                                                </ul>-->

                            </ul>

                    </ul>
                    <!--sec:authorize="hasRole('ADMIN')"-->
                </li>        

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lista de Pedido
                    </a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item" th:href="@{/editorial/registrar}">Agregar al Pedido</a></li>
                        <li><a class="dropdown-item" th:href="@{/editorial/lista}">Ver Pedido</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ventas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/venta/nuevo}">Ventas</a></li>
                        <li><a class="dropdown-item" th:href="@{/venta/total}">Total</a></li>
                    </ul>
                </li>
                <!--                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                                        <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Usuario
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"  th:href="@{/admin/listar}">Lista de usuarios</a></li>
                                        </ul>
                
                                    </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        <li><a class="dropdown-item" th:href="@{/perfil}">Editar perfil</a></li>

                    </ul>

                </li>   
            </ul>
        </div>
    </div>
</nav>
